* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

body {
    height: 100%;
} 

#logo {
    height: 8rem;
}

.main-header {
    background-color : rgb(107, 99, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

.main-name {
    font-size: 2.5rem;
    color: whitesmoke;
    font-family: cursive;
}

.home-button {
    color: whitesmoke;
    font-size: 1.2rem;
}

header a {
    text-decoration: none;
}

.main-image {
    height: 60vh;
    width: 50vw;
}

.main-section {
    display: flex;
    justify-content: space-between;
}

.main-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5rem;
}

.text {
    font-size: 3.5rem;
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.text-highlight {
    color: orange;
}

.buttons {
    padding: 0.8rem;
    width: 7rem;
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-right: 10px;
}

.blue {
    background-color: lightskyblue;
    border: none;
}

.orange {
    background-color: orange;
    border: none;
}

.second-main__section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(107, 99, 255);
    padding: 2rem 0;
}

.second-main__lists {
    transition: all 1s;
}

.second-main__lists:hover {
    transform: scale(1.3);
}

.logo-size {
    height: 5rem;
    width: 6rem;
    padding-top: 3rem;
    padding-left: 3rem;
    
}

.logo-title {
    color: white;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.third-main__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
    background-color: lightskyblue;
}

.subscribe-title {
    font-size: 2rem;
    padding-bottom: 1.1rem;
}

.title-info {
    padding-bottom: 2rem;
    color: black;
}

.input-type {
    height: 50px;
    width: 500px;
    border-radius: 5px;
    border: none;
}

::placeholder {
    font-size: 1.3rem;
    text-align: center;
}

.subs-button {
    height: 50px;
    background-color: red;
    color: whitesmoke;
    border-radius: 5px;
    border: none;
    padding: 0 2rem;
    font-size: 1rem;
}

footer {
    background-color: rgb(235, 181, 81);
}

.main-footer {
    display: flex;
    justify-content: space-evenly;
}

.text-heading {
    color: black;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 3rem 0;
}

.links {
    color: black;
    padding-bottom: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.links:hover {
    color: white;
    cursor: pointer;
}

.lnkd-logo {
    height: 3rem;
    margin-left: 1rem;
}

.copy-line {
    color: black;
    text-align: center;
    margin-top: 2rem; 
    padding-bottom: 2rem;
}

.location-logo {
    height: 1.8rem;
}

.lctn-logo {
    display: flex;
    justify-content: space-between;
}

.tele {
    margin-right: 5rem;
}

.tele1 {
    margin-right: 1rem;
}