* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

body {
    height: 100%;
} 

#logo {
    height: 8rem;
}

.main-header {
    background-color : rgb(107, 99, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

.main-name {
    font-size: 2.5rem;
    color: whitesmoke;
    font-family: cursive;
}

.home-button {
    color: whitesmoke;
    font-size: 1.2rem;
}

header a {
    text-decoration: none;
}

.page-title {
    text-align: center;
    font-family: cursive;
}

.container {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

#success {
    color: green;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

#error {
    color: red;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

.description-section {
    width: 50%;
    margin-left: 5rem;
    background-color: white;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.contact-section {
    width: 25rem;
    height: 25rem;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    margin-right: 5rem;
    background-color: white;
    margin-left: 2rem;
    padding-left: 2rem;

}

.description-title {
    margin-top: 2rem;
    margin-left: 3rem;
}

.description-input {
    margin-top: 0.5rem;
    margin-left: 2rem;
    width: 70%;
    padding: 1rem;
} 

.radio-types {
    margin-bottom: 1rem;
}

.contact-lists {
    margin-top: 2rem;
}

.info {
    margin-top: 1rem;
}

.form-lists {
    display: flex;
    flex-direction: column;
}

.post-div {
    display: flex;
    justify-content: flex-start;
    margin: 2rem; 

}

.post-button {
    padding: 1rem 3rem;
    background-color: rgb(107, 99, 255);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    color: white;
}

footer {
    background-color: rgb(235, 181, 81);
}

.main-footer {
    display: flex;
    justify-content: space-evenly;
}

.text-heading {
    color: black;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 3rem 0;
}

.links {
    color: black;
    padding-bottom: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.links:hover {
    color: white;
    cursor: pointer;
}

.lnkd-logo {
    height: 3rem;
    margin-left: 1rem;
}

.copy-line {
    color: black;
    text-align: center;
    margin-top: 2rem; 
    padding-bottom: 2rem;
}

.location-logo {
    height: 1.8rem;
}

.lctn-logo {
    display: flex;
    justify-content: space-between;
}

.tele {
    margin-right: 5rem;
}

.tele1 {
    margin-right: 1rem;
}